<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description"
		content="Công cụ dịch Tiếng Việt ↔ Tày - Nùng giúp bảo tồn và phát triển ngôn ngữ dân tộc." />
	<meta name="keywords" content="dịch tiếng Việt, dịch tiếng Tày, dịch tiếng Nùng, văn hóa dân tộc" />

	<title>Trình Dịch Tiếng Việt ↔ Tày - Nùng</title>
	<link rel="icon" type="image/png" sizes="32x32" href="/static/imgs/icon2.png" />
	<link rel="stylesheet" href="/static/css/style1.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/41b88a6c80.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="body">
	<div class="header">
		<!-- <div class="grid"></div> -->
		<a class="theme" href="/"></a>
		<!-- begin nav -->
		<ul id="nav">
			<li class="nav-item">
				<a href="/" class="nav-link">Trang chủ</a>
			</li>

			<!-- Giới thiệu -->
			<li class="nav-item menu">
				<a href="#" class="nav-link">
					Giới thiệu
					<i class="fa-solid fa-angle-down"></i>
				</a>

				<ul class="navbar-menu">
					<li class="navbar-item">
						<a href="/content/introduction/introduction1.html" class="menu-link-item">
							Vấn đề bảo tồn và phát huy
						</a>
					</li>
					<li class="navbar-item">
						<a href="/content/introduction/introduction2.html" class="menu-link-item">
							Mục tiêu
						</a>
					</li>
					<li class="navbar-item">
						<a href="/content/introduction/introduction3.html" class="menu-link-item">
							Tính cấp thiết
						</a>
					</li>
				</ul>
			</li>

			<!-- Lịch sử -->
			<li class="nav-item menu">
				<a href="#" class="nav-link">
					Lịch sử
					<i class="fa-solid fa-angle-down"></i>
				</a>

				<ul class="navbar-menu">
					<li class="navbar-item">
						<a href="/content/history/history1.html" class="menu-link-item">
							Lịch sử hình thành
						</a>
					</li>
					<li class="navbar-item">
						<a href="/content/history/history2.html" class="menu-link-item">
							Lịch sử phát triển của ngôn ngữ
						</a>
					</li>
					<li class="navbar-item">
						<a href="/content/history/history3.html" class="menu-link-item">
							Các mốc lịch sử quan trọng
						</a>
					</li>
				</ul>
			</li>

			<li class="nav-item">
				<a href="/content/culture.html" class="nav-link">Văn hóa</a>
			</li>
			<li class="nav-item">
				<a href="/content/language.html" class="nav-link">Ngôn ngữ</a>
			</li>
			<li class="nav-item">
				<a href="/content/poem/poem.html" class="nav-link">Tập thơ</a>
			</li>
		</ul>
		<!-- end: nav -->
	</div>
	<div class="container">

		<div id="content" class="modal">
			<h1>Dịch Tiếng Việt ↔ Tày - Nùng</h1>

			<!-- Bộ chọn chế độ dịch -->
			<div class="language-toggle">
				<span id="language-from">Tiếng Việt</span>
				<button id="switch-button" title="Đổi ngôn ngữ">↔</button>
				<span id="language-to">Tày / Nùng</span>
			</div>

			<div class="input-group">
				<textarea id="text_input" placeholder="Nhập văn bản cần dịch..."></textarea>
				<div id="suggestions" class="suggestions"></div>
			</div>

			<!-- Nút dịch -->
			<button id="translate-button" aria-label="Dịch văn bản">Dịch</button>
			<!-- Ô kết quả -->
			<div class="output-group">
				<h3>Kết quả dịch:</h3>
				<textarea id="result" readonly></textarea>
			</div>
		</div>
	</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/main.js"></script>

</html>