<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang Phục</title>
  <link rel="stylesheet" href="static/css/style1.css">
</head>
<body>
  <header class="header">
    <ul id="nav">
      <li><a href="index.html">Trang chủ</a></li>
      <li><a href="Gioithieu.html">Giới thiệu</a></li>
      <li><a href="Lichsu.html">Lịch sử</a></li>
      <li><a href="Vanhoa.html">Văn hóa</a></li>
      <li><a href="Trangphuc.html">Trang phục</a></li>
    </ul>
  </header>

  <section>
    <h2>Lịch sử</h2>
    <p>
      Người Tày - Nùng thuộc nhóm ngôn ngữ Tày - Thái (Tai - Kadai) với địa bàn cư trú chủ yếu là vùng Lưỡng Quảng và một phần vùng đông nam Vân Nam thuộc Trung Quốc cùng với vùng núi Bắc bộ Việt Nam.
      Dân tộc Nùng có chung nguồn gốc lịch sử với dân tộc Tày ở Việt Nam và dân tộc Choang ở bên kia biên giới Việt - Trung. Ngày nay, ở Trung Quốc dân tộc Tày được ghép chung vào dân tộc Choang.

    </p>
    <p>
      Nam giới thường mặc áo dài năm thân, còn phụ nữ mặc áo dài chàm, đầu đội khăn và đeo các trang sức bạc.
    </p>
  </section>
</body>
</html>
